# Empêche de voir dans les dossiers
Options All -Indexes

# Retire extension PHP
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Réécriture d’URL
RewriteRule ^(.*)=(.+)\.php ./$1.php?id=$2 [L]

# Page erreur
ErrorDocument 404 https://one-website.com